.linha {
    white-space: nowrap;
}

.gridecosta {
    margin-bottom: 20px;
    text-align: center;
    }
    
    .gridecosta img {
    border-radius: 20px;
    max-width: 100%;
    }
    
    .gridecosta h3 {
    margin: 10px;
    }
    
    
    .chamada h2 {
    background: #c26148;
    margin: 20px;
    padding: 40px;
    color: white;
    }
    
    .gridecosta img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    }
    
    .btn {
    margin: 5px;
    }
    
    .duogride img {
    border-radius: 20px;
    object-fit: cover;
    height: 100%;
    }
    
    .duogride {
    text-align: left;
    }
    
    .duogride p {
    text-align: left;
    }
    
    .duogride {
    margin-bottom: 20px;
    }
    
    .titulo-costa {
    padding: 20px;
    border-radius: 20px;
    word-wrap: anywhere;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    text-align: center;
    }
    
    .gridecosta i {
    font-size: 8em;
    }
    
    .uagb-button__link {
      padding: 10px;
    }

    img {
        max-width: 100%;
    }